.shop {
    margin: 0 auto;
    position: relative;
    height: 100vh;
    width: 100%;

    .header {
        background-color: rgb(133, 143, 43);
        position: fixed;
        width: 100%;
        min-height: 8rem;
        padding: 1rem;

        .h1 {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .main {
        display: flex;
        background-color: rgb(235, 250, 219);
        justify-content: center;
        margin: 0 auto;
        padding-top: 10rem;
        padding-bottom: 10rem;
        max-width: 144rem;
        // height: 100vh;

        .table-available-products {
            border: 1px solid black;

            .table-header {
                .model {
                    border: 1px solid black;
                    width: 20rem;
                    height: fit-content;
                    padding: 0.5rem;
                }

                .weight {
                    border: 1px solid black;
                    width: 15rem;
                    height: fit-content;
                    padding: 0.5rem;
                }

                .picture {
                    border: 1px solid black;
                    width: 20rem;
                    height: fit-content;
                    padding: 0.5rem;
                }
            }

            .table-body {
                border: 1px solid black;

                .model {
                    border: 1px solid black;
                    width: 20rem;
                    height: fit-content;
                    padding: 0.5rem;
                }

                .weight {
                    border: 1px solid black;
                    width: 15rem;
                    height: fit-content;
                    padding: 0.5rem;
                }

                .picture {
                    border: 1px solid black;
                    width: 20rem;
                    height: fit-content;
                    padding: 0.5rem;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .footer {
        position: fixed;
        bottom: 0px;
        background-color: rgb(133, 143, 43);
        min-height: 4rem;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    .modal {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            width: fit-content;
            position: relative;

            .close-icon {
                z-index: 5;
                position: absolute;
                top: 1rem;
                right: 1rem;

                &:hover {
                    cursor: pointer;
                }
            }

            .picture {
                width: 120rem;
                z-index: 3;
            }
        }

    }

    .modal-hidden {
        visibility: hidden;
    }
}